body{
    display: flex;
    /* background: linear-gradient(to bottom right , rgb(232, 106, 3),green) ; */
    background-color: forestgreen;
    background-repeat: no-repeat;
    height: 600px;
}

h1{
    color: white;
}

button{
    background-color: rgb(23, 255, 11);
    height: 35px;
    width: 15%;
    border-radius: 25px;
    border: 1px solid green;
}

button:hover{
    background-color: rgb(22, 237, 65);
    cursor: pointer;
}

section{
    width: 50%;
    margin-top: 3%;
}
section.game{

    display: flex;
    flex-wrap: wrap;

    justify-content:space-around;
    row-gap: 10px;
}

section.stats{
    text-align: center;
    margin-top: 15%;
}

.circle{
    /* border: 1px solid black; */
    border-radius: 100%;
    width: 175px;
    height: 175px;
    background-color: rgb(127, 78, 3);


}

img{
    width: 90%;
    margin-bottom: -50px;
    margin-left: 7px;
    display: none;
}

#mole1{
    display:inline;
    
}
#increment{
    color: greenyellow;
    font-style: italic;
}

#result{
    color: red;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
}